#order-form-box {
  border: 1px solid black;
  height: 70vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
}

.order-form-group label {
  display: block;
  font-size: 1.2rem;
}

.order-form-group input, .order-form-group select {
  font-size: 1.2rem;
  padding: 0.1rem;
}

.order-form-group {
  padding: 0.5rem 0;
}
