#header-top {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  background-color: black;
  color: white;
  font-weight: bold;
}

#header-bottom {
  height: 7vh;
  display: flex;
  align-items: center;
  background-color: burlywood;
  color: white;
}

#header-bottom.without-search {
  justify-content: end;
  padding-right: 12%;
}

#header-bottom.with-search {
  padding-left: 8%;
}

#search-products-btn {
  background-color: cadetblue;
  color: white;
}

#search-products-label {
  padding-right: 0.5rem;
}

#logo {
  font-size: 2rem;
}
