#order-details-box {
  border: 1px solid black;
  height: 70vh;
  width: 35vw;
}

#order-details-top {
  width: 100%;
  height: 88%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-cart-item {
  border: 1px solid black;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.order-cart-item-img-container {
  width: 20%;
  height: 100%;
}

.order-cart-item-img-container img {
  width: 100%;
  height: 100%;
}

#order-total {
  padding-left: 2rem;
  font-size: 2rem;
}

#order-details-title-and-back {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
}

#order-cart-items {
  width: 70%;
  height: 80%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}